<!-- Find Teammates (Query) Form -->
<div class="col-md-5">
    
        <!-- Creates Main Panel -->
        <div class="panel panel-default">
    
            <!-- Panel Title -->
            <div class="panel-heading">
                <h2 class="panel-title text-center"><span class="glyphicon glyphicon-search"></span></h2>
            </div>
    
            <!-- Panel Body -->
            <div class="panel-body">
    
                <!-- Creates Form -->
                <form name ="queryForm">
    
                    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    <div class="form-group">
                        <label for="latitude">Your Latitude</label>
                        <input type="text" class="form-control" id="latitude" placeholder="" ng-model="formData.latitude" readonly>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Your Longitude</label>
                        <input type="text" class="form-control" id="longitude" placeholder="" ng-model="formData.longitude" readonly>
                    </div>
                    <div class="form-group">
                        <label for="distance">Max. Distance (miles)</label>
                        <input type="text" class="form-control" id="distance" placeholder="500" ng-model="formData.distance">
                    </div>
    
                    <!-- Note ng-true-value which translates check values into explicit gender strings -->
                    <label>Disease</label>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checknewcastledisease" value="New Castle Disease" ng-model="formData.newcastledisease" ng-true-value = "'New Castle Disease'">
                            New Castle Disease
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkilt" value="Infectious laryngotracheitis (ILT)" ng-model="formData.ilt" ng-true-value="'Infectious laryngotracheitis (ILT)'">
                            Infectious laryngotracheitis (ILT)
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkibd" value="Infectious bursal disease, IBD" ng-model="formData.ibd" ng-true-value="'Infectious bursal disease, IBD'">
                            Infectious bursal disease, IBD
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkbronchitis" value="Infectious bronchitis" ng-model="formData.bronchitis" ng-true-value="'Infectious bronchitis'">
                            Infectious bronchitis
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkgallipsepticum" value="Mycoplasma gallisepticum" ng-model="formData.gallipsepticum" ng-true-value="' Mycoplasma gallisepticum'">
                            Mycoplasma gallisepticum 
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkcoryza" value="Infectious coryza" ng-model="formData.coryza" ng-true-value="'Infectious coryza'">
                            What's it to ya?
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkcoccidiosis" value="Coccidiosis" ng-model="formData.coccidiosis" ng-true-value="'Coccidiosis'">
                            Coccidiosis
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkmarek" value="Marek’s Disease" ng-model="formData.marek" ng-true-value="'Marek’s Disease'">
                            Marek’s Disease
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkcholera" value="Fowl cholera" ng-model="formData.cholera" ng-true-value="' Fowl cholera '">
                            Fowl cholera 
                        </label>
                        
                    </div>
                    
                    <!-- Query button. Note that its tied to queryUsers() function from queryCtrl.  -->
                    <button type="submit" class="btn btn-danger btn-block" ng-click="queryUsers()">Search</button>
                </form>
            </div>
    
            <!-- Footer panel for displaying count. Note how it will only display if queryCount is greater than 0 -->
            <div ng-show="queryCount>0" class="panel-footer">
                    <p class="text-center">We Found {{queryCount}} Disease near your location</p>
            </div>
        </div>
    </div>